h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  cursor: default;
}

.s_top_text {
  padding-bottom: 50px;
}

body {
  font-family: 'DidactGothicRegular', sans-serif;
  font-weight: 500;
  font-size: 14px;
  min-width: 320px;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
}

body .loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 8000;
  width: 100%;
  height: 100%;
  background-color: rgba(222, 222, 222, 0.8);
}

body .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 260px;
  height: 260px;
  left: 50%;
  top: 50%;
  margin: -130px 0 0 -130px;
  position: absolute;
  z-index: 9000;
}

body section {
  padding: 70px 0 80px;
}

body section h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 18px;
  letter-spacing: 6px;
  font-family: 'AdventProRegular', sans-serif;
  font-weight: 500;
}

body section p {
  font-family: 'AdventProLight', sans-serif;
  letter-spacing: 6px;
  font-size: 14px;
  text-transform: uppercase;
}

body section h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 6px;
  font-family: 'AdventProMedium', sans-serif;
  font-family: 'DidactGothicRegular', sans-serif;
  margin-top: 0;
  margin-bottom: 35px;
}

body section .s_descr_wrap {
  text-align: center;
  position: relative;
}

body section .s_descr_wrap:before {
  content: "";
  width: 150px;
  height: 1px;
  background-color: rgba(5, 6, 8, 0.2);
  position: absolute;
  left: 50%;
  margin-left: -75px;
  margin-top: -10px;
}

body section .s_descr_wrap .s_descr {
  display: inline-block;
}

.h_top_text {
  background-color: rgba(187, 201, 188, 0.1);
}

.logo_head {
  float: left;
  padding-left: 30px;
  opacity: .8;
}

svg {
  height: 80px;
  width: 80px;
  position: relative;
  cursor: pointer;
  z-index: 50;
}

svg path {
  fill: #48302C;
}

.social_wrap {
  margin-right: 22px;
  float: right;
}

.social_wrap li {
  font-family: "FontAwesome";
  display: inline-block;
  font-size: 22px;
  padding: 0px 3px;
}

.social_wrap li a {
  color: rgba(0, 0, 0, 0.8);
  padding: 0px 3px;
}

.main_footer {
  padding: 20px 0;
  font-size: 13px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.main_head {
  height: 620px;
  padding: 35px;
}

.main_head .head_btn {
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(5, 6, 8, 0.8);
  display: inline-block;
  float: right;
  position: fixed;
  top: 40px;
  right: 55px;
  z-index: 200;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.main_head .head_btn:hover {
  background-color: rgba(5, 6, 8, 0.9);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main_head .head_btn:hover .line {
  background-color: #55662F;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main_head .head_btn:hover.active {
  background-color: transparent;
}

.main_head .head_btn .line {
  width: 100%;
  height: 3px;
  background-color: #C8D0D2;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.head_btn.active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
}

.head_btn.active .line:nth-child(2) {
  -webkit-transition: none;
  transition: none;
}

.head_btn .line:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.head_btn.active .line:nth-child(2) {
  opacity: 0;
}

.head_btn.active .line:nth-child(1),
.head_btn.active .line:nth-child(3) {
  width: 35px;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}

.head_btn.active .line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.head_btn.active .line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 150;
  right: 0;
  top: 0;
  display: none;
}

.top_mnu ul, .top_mnu li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top_mnu ul {
  margin-top: 160px;
  text-align: center;
}

.top_mnu ul li a {
  font-size: 16px;
  color: #b2d662;
  display: block;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 18px 0px;
}

.top_mnu ul li a:nth-child(1) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.top_mnu ul li a:hover {
  color: #fff;
  background-color: rgba(187, 201, 188, 0.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.main_head .top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.main_head .top_wrapper .top_descr {
  display: table-row;
}

.main_head .top_wrapper .top_descr .top_centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.main_head .top_wrapper .top_descr .top_centered .top_text {
  -webkit-font-kerning: 5;
          font-kerning: 5;
  display: inline-block;
  font-family: 'DidactGothicRegular', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  word-spacing: 6px;
  letter-spacing: 5px;
  color: #fff;
}

.main_head .top_wrapper .top_descr .top_centered .top_text h1 {
  display: inline-block;
  padding: 8px 30px;
  border: 3px solid #fff;
  font-size: 42px;
  margin: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.main_head .top_wrapper .top_descr .top_centered .top_text h1:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: rgba(5, 6, 8, 0.1);
}

.main_head .top_wrapper .top_descr .top_centered .top_text p {
  font-size: 18px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  font-family: 'DosisRegular', sans-serif;
}

.s_about {
  background-color: rgba(85, 102, 47, 0.1);
}

.s_about h2 {
  color: #000;
}

.s_about h3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  font-size: 16px;
}

.s_about p.info {
  color: #222;
  margin-bottom: 60px;
  letter-spacing: 2px;
  text-transform: none;
}

.s_about ul, .s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'AdventProMedium', sans-serif;
  font-weight: 600;
}

.s_about li {
  margin-bottom: 6px;
  letter-spacing: 3px;
}

.s_about li:first-child {
  margin-bottom: 17px;
}

.s_about .person {
  text-align: center;
  margin-bottom: 35px;
}

.s_about .person img {
  max-width: 300px;
  width: 100%;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 2s;
  transition: all 2s;
  overflow: hidden;
}

.s_about .person img:hover {
  -webkit-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.s_resume .resume_container .resume_item {
  margin-top: 30px;
}

.s_resume .resume_container .left {
  text-align: right;
  border-right: 1px solid rgba(5, 6, 8, 0.2);
  padding-right: 40px;
}

.s_resume .resume_container .left h3 {
  text-align: right;
}

.s_resume .resume_container .right {
  text-align: left;
  padding-left: 40px;
}

.s_resume .resume_container .right h3 {
  text-align: left;
}

.s_resume .resume_container h3 {
  margin-top: 30px;
  letter-spacing: 3px;
  font-size: 20px;
  margin: 0px 15px 0 15px;
}

.s_resume .resume_container i {
  font-size: 18px;
  margin-bottom: 30px;
}

.s_resume .resume_container .col-md-6 .resume_item {
  text-transform: none;
}

.s_resume .resume_container .col-md-6 .resume_item p {
  font-style: normal;
}

.s_resume .resume_container .col-md-6 .resume_item .year {
  display: inline-block;
  padding: 0px 10px;
  margin-top: 30px;
  background-color: rgba(85, 102, 47, 0.1);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #000;
  font-size: 15px;
}

.s_resume .resume_container .col-md-6 .resume_item .resume_descr {
  font-style: italic;
  font-size: 20px;
}

.s_resume .resume_container .col-md-6 .resume_item .resume_descr strong {
  font-style: normal;
  padding-top: 13px;
  display: inline-block;
}

.s_resume .resume_container .col-md-6 .resume_item p {
  font-size: 16px;
  text-transform: none;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.s_portfolio {
  min-height: 900px;
  background-color: rgba(5, 6, 8, 0.8);
}

.s_portfolio .s_top_text h2 {
  color: #fff;
}

.s_portfolio .s_descr_wrap {
  color: #fff;
}

.s_portfolio .s_descr_wrap:before {
  background-color: #fff;
}

.s_portfolio ul, .s_portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.s_portfolio ul {
  margin-bottom: 50px;
  cursor: pointer;
}

.s_portfolio ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  background-color: #EDEFE9;
  border: rgba(237, 239, 233, 0.9) 2px solid;
  padding: 0px 14px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #000;
  letter-spacing: 1px;
  margin: 0 2px;
}

.s_portfolio ul li.active {
  background-color: #222;
  color: #fff;
}

.s_portfolio .portfolio_item {
  padding: 0px;
  overflow: hidden;
}

.s_portfolio .portfolio_item img {
  width: 100%;
  height: auto;
}

.s_portfolio .portfolio_item .port_item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 6, 8, 0.8);
  text-align: center;
  padding-top: 0%;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.s_portfolio .portfolio_item:hover .port_item {
  opacity: 1;
  padding-top: 2%;
}

.s_portfolio .portfolio_item h5 {
  color: #fff;
  margin: 0;
  margin-top: 5%;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'DosisRegular';
}

.s_portfolio .portfolio_item p {
  font-size: 12px;
  color: #fff;
  font-family: 'AdventProLight', sans-serif;
  letter-spacing: 3px;
  white-space: 4px;
  margin: 10px 0px 25px;
}

.s_portfolio .portfolio_item a {
  background-color: #EDEFE9;
  border: rgba(237, 239, 233, 0.8) 2px solid;
  padding: 2px 12px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #000;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

.s_portfolio .portfolio_item a:active {
  font-weight: 600;
}

.s_portfolio .portfolio_item a:hover {
  background-color: #222;
  color: #fff;
}

.s_contacts .form {
  max-width: 650px;
  height: 300px;
  margin: 0 auto;
}

.s_contacts .form input {
  width: 100%;
  background-color: rgba(221, 232, 197, 0.3);
  border: 1px solid rgba(85, 102, 47, 0.3);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  padding: 4px 15px;
  outline: none;
  letter-spacing: 3px;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 20px;
}

.s_contacts .form input:focus {
  -webkit-box-shadow: 3px 3px 3px rgba(237, 239, 233, 0.8);
          box-shadow: 3px 3px 3px rgba(237, 239, 233, 0.8);
  background-color: rgba(237, 239, 233, 0.05);
}

.s_contacts .form input:last-child {
  margin-bottom: 30px;
}

.s_contacts .form textarea {
  background-color: rgba(221, 232, 197, 0.3);
  border: 1px solid rgba(85, 102, 47, 0.3);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  outline: none;
  letter-spacing: 3px;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
  height: 150px;
  padding: 4px 15px;
}

.s_contacts .form textarea:focus {
  -webkit-box-shadow: 3px 3px 3px rgba(237, 239, 233, 0.8);
          box-shadow: 3px 3px 3px rgba(237, 239, 233, 0.8);
  background-color: rgba(237, 239, 233, 0.05);
}

.s_contacts .form button {
  border: none;
  padding: 5px 16px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  background-color: rgba(85, 102, 47, 0.8);
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px;
  float: right;
}

.s_contacts .form button:active {
  -webkit-box-shadow: 3px 3px 3px rgba(237, 239, 233, 0.8);
          box-shadow: 3px 3px 3px rgba(237, 239, 233, 0.8);
}

.main_footer .social_wrap {
  float: none;
  line-height: 0;
  margin: 5px;
  padding: 10px 0;
}

.main_footer .social_wrap ul {
  margin: 0;
  padding: 0;
}

.main_footer .social_wrap ul a {
  color: #fff;
}
